<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div class="alert alert-warnig">
      <ul>
        <% task.errors.full_messages.each do |task| %>
          <li><%= task %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
  <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status, class: 'form_control' %>
  </div>

  <%= f.label :content, 'タスク'%>
  <%= f.text_field :content, class: 'form_control' %>
  
  <%= f.submit '登録', class: 'btn btn-primary' %>
<% end %>